body{
    font-family: 'Poppins', sans-serif;
}
.top-bar{
    display: flex;
    
}
.main-bar{
    width: 50%;
    margin: 5%;
}
.main-bar img{
    width: 95%;
}
span{
    color: orange;
}
.font-color{
    font-size: 62px;
    border-left: 3px solid tomato ;
    
}
.batton{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 5px 20px;
    color: white;
    border-radius: 15px;
}
.scrool{
    margin-top: 60px;
}
.middle-bar{
    display: flex;
    margin: 5%;
}
.middle-hading{
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 60px;
}
.icon-images{
    width: 100px;
}
.middle-bar-1{
    width: 80%;
    height: 350px;
   margin-left: px;
   margin-right: 50px;
    padding-left: 40px;
    padding-right: 20px;
    border-radius: 15px;
    background-color: rgb(125, 125, 185);
}
.middle-bar-2{
    width: 80%;
    height: 350px;
   margin-left: px;
   margin-right: 50px;
    padding-left: 40px;
    padding-right: 20px;
    border-radius: 15px;
    background-color: rgb(93, 182, 116);
}
.middle-bar-3{
    width: 80%;
    height: 350px;
   margin-left: px;
   margin-right: 50px;
    padding-left: 40px;
    padding-right: 20px;
    border-radius: 15px;
    background-color: rgb(189, 117, 179);
}
.Limits{
    display: flex;
    margin-top: 110px;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 30%;
}
.Limits img{
    width: 75%;
    margin-left: 20%;
}
.girls-fonts{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
.hading-taitle-1{
    font-size: 60px;
   
}